:root {
  --notification-icon-size: 96px;
  --mpris-album-art-icon-size: 96px;
}

* {
  font-size: 1.2rem;
  font-family: "SF Pro Display", "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
  transition: 200ms;
  color: #333;
  font-weight: 700;
}

.control-center {
  background-color: rgba(220, 218, 220, 0.75);
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 80px;
  border-radius: 15px;
  padding: 10px 30px;
}

.notification {
  background-color: rgba(220, 218, 220, 0.75);
  padding: 30px 20px;
}
