* {
    font-family:
        "SF Pro Display", "JetBrainsMono Nerd Font", Helvetica, Arial,
        sans-serif;

    /* font-family: */
    /*     "SF Pro Display", "Symbols Nerd Font Mono", "JetBrainsMono Nerd Font", Helvetica, Arial, */
    /*     sans-serif; */

    font-size: 1.12rem;
    padding-right: 2px;
    padding-left: 2px;
    min-height: 0;
}

#waybar {
    background-color: rgba(220, 218, 220, 0.75);
    color: #333;
    margin: 1px 5px;
    margin-top: 10px;
    margin-bottom: 10px;

    /* box-shadow: */
    /* 0 19px 38px rgba(0, 0, 0, 0.3), */
    /* 0 15px 12px rgba(0, 0, 0, 0.22); */
}

#window {
    color: #333;
    font-weight: 700;

    margin-left: 1rem;

    padding-top: 8px;
    padding-bottom: 8px;
}

#workspaces {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;

    background: transparent;
    margin-left: 0.6rem;
    min-height: 26px;

    padding-left: 0.8rem;
    padding-right: 0.8rem;

    border-radius: 1rem;
    background-color: #333;
}

#workspaces button {
    color: rgba(220, 218, 220, 0.5);
    border-radius: 3px;
    padding: 0 0.25rem;
    /* font-weight: 700; */
}

#workspaces button.empty {
    opacity: 1;
}

#workspaces button.active {
    color: rgba(220, 218, 220, 1);
    border-radius: 5px;
}

#workspaces button:hover {
    color: rgba(220, 218, 220, 0.9);
    /* background: #333; */
    /* border-radius: 5px; */
    border-color: transparent;
}

#custom-system {
    margin-right: 0.7rem;
    margin-left: 1.3rem;

    background-image: url("./icons/os.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.8rem;
    min-width: 1.8rem;

}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#bluetooth,
#custom-docker-icon,
#custom-power {
    color: #333;
    padding: 0rem 1rem;
    border-radius: 0px 5px 5px 0px;
    font-size: 1.8rem;
}

#network {
    font-size: 1.6rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

#custom-docker-icon {
    padding: 0rem 0.35rem;
    margin-bottom: 2px;
    font-size: 1.9rem;

    /* background-image: url("./icons/docker.svg"); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: 2rem; */
    /* min-width: 2rem; */
}

#bluetooth {
    font-size: 1.55rem;
    /*Small position correction*/
    margin-bottom: 1px;
}

#memory {
    border-radius: 0px 5px 5px 0px;
}

#clock {
    color: #333;
    font-weight: 700;
    font-size: 1.1rem;

    margin-left: 1rem;
    margin-right: 0.5rem;
}

#battery {
    color: #a6d189;
}

#battery.charging {
    color: #a6d189;
}

#battery.warning:not(.charging) {
    color: #e78284;
}

#backlight {
    color: #e5c890;
}

#backlight,
#battery {
    border-radius: 0;
}

#pulseaudio {
    color: #333;
    font-size: 1.4rem;
    border-radius: 5px 0px 0px 5%;
    margin-bottom: 2px;
}

/*Small position correction*/
#custom-expand-icon {
    font-size: 1.4rem;
    margin-bottom: 2px;
    margin-right: 0.4rem;
}

#tray {
    background-color: #333;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#custom-control-center {
  background-image: url("./icons/control-center.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.6rem;  /* tweak size */
  min-width: 1.6rem;        /* ensures it shows up */
  margin-bottom: 2px;
}

#language {
  color: rgba(220, 218, 220, 0.9);
  background-color: #333;
  margin-top: 6px;
  margin-bottom: 8px;
  margin-right: 15px;
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 700;
  font-size: 1rem;
}
